    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        height: 100vh;
        background-color: #8A14FF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .container {
        position: relative;
        height: 120px;
        width: 500px;
        background: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    .container ul {
        position: relative;
        display: flex;
    }
    
    .container ul li {
        position: relative;
        list-style-type: none;
    }
    
    .container ul li a {
        position: relative;
        height: 120px;
        width: 90px;
        display: flex;
        align-items: center;
        justify-items: center;
    }
    
    .container ul li a i {
        color: #8A14FF;
        font-size: 38px;
        position: absolute;
        padding: 28px;
    }
    
    .activeIcon {
        opacity: 0;
        transition: all 0.6s ease;
        transition-delay: 0.2;
    }
    
    .container ul li .active-list a i {
        opacity: 1;
    }
    
    .indicator {
        position: absolute;
        bottom: -19px;
        left: 34px;
        width: 25px;
        height: 36px;
        background: #8A14FF;
        border-radius: 50%;
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    .indicator::before {
        content: "";
        position: absolute;
        left: -15px;
        bottom: 50%;
        height: 22px;
        width: 20px;
        background: white;
        border-bottom-right-radius: 20px;
        box-shadow: 0 10% 0 #8A14FF;
    }
    
    .indicator::after {
        content: "";
        position: absolute;
        right: -15px;
        bottom: 50%;
        height: 22px;
        width: 20px;
        background: white;
        border-bottom-left-radius: 20px;
        box-shadow: 0 10% 0 #8A14FF;
    }
    
    header {
        position: absolute;
        height: 500px;
        color: white;
        font-family: 'Public Sans', sans-serif;
        font-family: 'Roboto', sans-serif;
    }